body {
  margin: 0;
}

h3, p, h1 {
  margin-left: 10px;
}

.page-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-image: url("./bliss.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 300px 100px 300px;
}

aside {
  grid-area: 1 / 1 / 4 / 2;
  background-color: azure;
  margin: 50px 20px 0 0;
}

.intro-section {
  grid-area: 1 / 2 / 4 / 7;
}

.main {
  grid-area: 4 / 2 / 6 / 7;
}

.window {
  margin-top: 50px;
}